body {
  font-family: Arial, Helvetica, sans-serif;
}
#pic {
   float: left;
}

.main_div {
   border: 2px solid #73AD21;
}

.margin_main {
   margin: 25px 0px 0px 0px;
   width: 150px;
}

#text {
    margin-left: 170px;
}

.p_blue {
  font-size: 24;
  margin: 0px;
  color: #0A416B;
  display: inline;
}

.p_gray {
  font-size: 12;
  line-height: 0.5;
  color: #9E9E9E;
}

#text_style {
  color: #9E9E9E;
  margin: 6px 15px 6px;
}

.td_gray_style {
    background-color: #BDBDBD;
    vertical-align:middle;
}

.td_blue_style {
  background-color: #c6e5fe;
  vertical-align:middle;
}

table {
  margin-left: 170px;
  font-size: 12;
  line-height: 0.5;}

.a_other {
  font-size: 10;
}
