body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 13;
}

.pic {
   float: left;
   display: inline-block;
   padding-right: 10px;
}

.main_div {
   border: 1px solid #EEEEEE;
   background:  #F5F5F5;
   overflow: auto;
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 10px;
}

.left_div {
  border-right: 1px solid #BDBDBD;
  padding-right: 10px;
  float: left;
}

.right_div {
  width: 40%;
  float: right;
  padding-left: 10px;
  display: inline-block;
}


.p_blue {
  font-size: 24;
  margin: 0px;
  color: #0A416B;
  display: inline;
}

.p_gray {
  font-size: 12;
  line-height: 0.5;
  color: #9E9E9E;
}

#text_style {
  color: #9E9E9E;
  margin: 6px 15px 6px;
}

.right_table {
    margin-bottom: 0px;
    line-height: 0.5;
}

.left_table {
  display: inline-table;
  margin-bottom: 0px;
  line-height: 1.25;
  float: right;
}

  td {
  padding-bottom: 5px;
  }

.tr_header {
  font-size: 13;
  color: #0A416B;
  background: #E0E0E0;
  text-align: center;
  height: 20px;
}
