body {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#pic {
   float: left;
}

.main_div {
   border: 2px solid #0A416B;
   overflow: auto;
   padding: 10px;
}

.left_div {
  border-right: 1px solid #BDBDBD;
  padding: 10px;
  float: left;
}

.right_div {
  padding: 10px;
  float: right;
}

.margin_main {
   margin: 25px 0px 0px 0px;
   width: 150px;
}

#text {
    margin-left: 170px;
}

.p_blue {
  font-size: 24;
  margin: 0px;
  color: #0A416B;
  display: inline;
}

.p_gray {
  font-size: 12;
  line-height: 0.5;
  color: #9E9E9E;
}

#text_style {
  color: #9E9E9E;
  margin: 6px 15px 6px;
}

.td_gray_style {
    background-color: #BDBDBD;
    vertical-align:middle;
}

.td_blue_style {
  background-color: #c6e5fe;
  vertical-align:middle;
}

.table_left {
  margin-left: 170px;
  font-size: 12;
  line-height: 0.5;
}

.table_right {
  font-size: 12;
  line-height: 0.5;
}

.a_other {
  font-size: 10;
}
