body {
  background: #F5F5F5;
  font-size: 14;
}

 .div_border {
   width: 900px;
   height: auto;;
   margin: auto;
   background: #EEEEEE;
   outline: 1px solid #BDBDBD;
 }

.right {
  float: right;
  display: block;
  margin-right: 200px;
 }

 .left {
   float: left;
   display: block;
   margin-left: : 200px;
  }

  .center {
    margin: 0 auto;
    display: block;
}

 .center_title {
   text-align: center
 }

select {
  display: inline;
  height: 30px;
  padding: inherit;
  }

  .p_title_select {
    color: #428bca;
  }

  .div-sl {
    background: #FFFFFF;
    padding: 10px;
  }

    .input-text {
    display: inline;
    width: 50px;
  }

 .r_margin {
   width: 30px;
 }

 input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/radio_unchecked.png) left top no-repeat;
    cursor:pointer;
  }

input[type="radio"]:checked + label span {
    background:url(img/radio_checked.png) left top no-repeat;
}

.div-radio {
  padding: 10px;
}

.btn-submit {
  margin: auto;
  display: block;
  width: 200px;
}
